<br>
<br>
<br>

<div>
    <h1>Tone Analyzer deployed on ECS AWS</h1>
    <br>
    <h2>Enter text to analyze</h2>
    <br>
    <form action="/toneAnalyzer" method="POST" enctype="application/json"> 
        <textarea name="textarea" rows="10" cols="50"></textarea>
        <button class="btn">
            Send text
        </button>
     </form>
</div>

<div>
    {{> showToneResponse}}
</div>